@{
    ViewData["Title"] = "Employees Page";
}

<br>
<h1>kingmarw</h1>
<div class="card-container">
  <div class="card">
    <i>ks</i>
    <h1>kingmarw</h1>
    <a href="">go <span class="ar material-symbols-outlined">arrow_forward</span></a>
  </div>
</div>
@section scripts{
  <script src="scripts.js"></script>
}
