@{
    ViewData["Title"] = "Employees Page";
}

<br>
<h1>Quick links</h1>
<div class="card-container">
  <div class="card-c">
    <i class="text-white">icon</i>
    <br>
    <h2 class="text-white">(A) item</h2>
    <br>
    <a href="#">go <span class="ar material-symbols-outlined">arrow_forward</span></a>
  </div>
  <div class="card-c">
    <i class="text-white">icon</i>
    <h2 class="text-white">(B) item</h2>
    <br>
    <a href="#">go <span class="ar material-symbols-outlined">arrow_forward</span></a>
  </div>
  <div class="card-c">
    <i class="text-white">icon</i>
    <h2 class="text-white">(C) item</h2>
    <br>
    <a href="#">go <span class="ar material-symbols-outlined">arrow_forward</span></a>
  </div>
  <div class="card-c">
    <i class="text-white">icon</i>
    <h2 class="text-white">(D) item</h2>
    <br>
    <a href="#">go <span class="ar material-symbols-outlined">arrow_forward</span></a>
  </div>
</div>
@section scripts{
  <script src="scripts.js"></script>
}
